<!DOCTYPE html>
    <head>
        <html lang="en" dir="ltr">
        <meta charset="utf-8">
        <title>Recommendations</title>
        <style type="text/css">    
          body
          {
            border: 2px solid black;
            padding: 0px;
            background: ;
            background-repeat: no-repeat;
            background-size: 450px 450px; 
            background-position: center center;
            } 
        </style>  
    </head>

    <body bgcolor="E67D7D">
        {% extends "template.html" %}
        {% block content %}<center>
           <marquee> <h1><font color="midnightblue"><strong>Here are the top-20 movies that you'll most probably like:</strong></font></h1></marquee>
            <p>{{ table }}</p></center>
        {% endblock %}
    </body>
</html>